.options {
  display: flex;
}

.optionsChild {
  display: flex;
  min-width: 120px;
  font-size: 16px;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 100%;
  padding: 0 5px;
  cursor: pointer;
  min-width: 120px;
}

.optionsChild:hover{
  background-color: #f4f8fa;
  border-radius: 4px;
}